<div class="row">
    <div class="column" style="margin: 45px;width:17%">
        <div class="card">
            <img class="card-img-top" src="{{cards.image}}">
        </div>
        <button routerLink="['/home']" style="margin-top: 15px;" class="btn btn-primary"> Back</button>
    </div>
    <div class="column" style="margin: 45px;width:17%">
        <h2>{{cards.productname | uppercase}}</h2>
        <h5>Quantity: {{cards.quantity}}</h5>
        <h3>Rs.{{cards.price}}</h3>
        <h5>Description: {{cards.description}}</h5>
    </div>
</div>